@charset "UTF-8";

.title-tomidaisai {
  height: calc(60vh - 110px);
  background-image: url(MMS_sab-stage.png);
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
  font-size: 0.9rem;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* align-items: center; */
}

.dantai-page {
  width: calc(100% - 96px);
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.naibu-gaibu {
  max-width: 1580px;
  margin: 3rem auto;
}

.naibu-gaibu ul {
  display: flex;
  flex-wrap: wrap;
}
.naibu-go {
  border-right: 1px solid #8e9294;
}

.naibu-gaibu-top {
  margin: -1px 0 0;
  min-width: 50%;
}

.naibu-gaibu-top a {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5882352941;
  font-weight: 700;
  text-align: center;
  padding-top: 35px;
  position: relative;
  border-top: 1px solid #8e9294;
  border-bottom: 1px solid #8e9294;
  min-height: 7rem;
  transition: color .6s cubic-bezier(.215, .61, .355, 1);
  overflow: hidden;
}



.gakunai {
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}

.food-do {
  max-width: 900px;
  background-color: #ffffff;
  margin: 32px auto 5px auto;
  width: 90%;
  border-radius: 6px;
  padding: 25px 30px 1px 30px;
}

.food-do h2 {
  margin-bottom: 18px;
  padding: 1px 9px;
  border-left: 4px solid #000;
}

.food-do h3 {
  margin-bottom: 9px;
}

.food-do p {
  line-height: 25px;
  margin-bottom: 30px;
}

.gakunai-info {
  max-width: 900px;
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 6px;
}

.gakunai-about h2 {
  position: relative;
  display: inline-block;
  margin: 1rem 0 1rem -10px;
  padding: 1rem 2.1rem;
  color: #fff;
  border-radius: 0 6px 6px 0;
  background: #0075a9;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}
.gakunai-about h2::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  border-top: 10px solid #005276;
  border-left: 10px solid transparent;
}
.kidaikai-content {
  width: 85%;
  margin: 0 auto;
}
.gaibu-content {
  padding-bottom: 20px;
}
.kidaikai-go {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.kidaikai-go img {
  width: 223px;
}
.kidaikai-title h2 {
  padding: 1px 9px;
  border-left: 4px solid #000;
}
.kidaikai-info h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.kidaikai-info p {
  line-height: 35px;
}
.kidaikai-next {
  margin-top: 23px;
}
.kidaikai-next h3 {
  margin-bottom: 15px;
}
.gaibu-info {
  line-height: 30px;
}



@media (max-width: 800px) {
  .title-tomidaisai {
    height: calc(41vh - 50px);
    align-items: flex-end;
    padding-bottom: 20px;
  }

  .dantai-page {
    width: 100%;
    max-width: 680px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .naibu-gaibu ul {
    display: block;
  }
  .naibu-go {
    border-right: none;
  }

  .time2020 {
    width: 90%;
  }

  .thema {
    width: 90%;
  }

  .time2022 p {
    line-height: 2;
    text-align: center;
    padding: 0;
  }

}